@page "/holiday/add"
@using MyBlazorApp.Client.Validation
@using MyBlazorApp.Shared.Models
@using System.Net
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Add Holiday</h1>
<hr />
<EditForm Model="@holiday" OnValidSubmit="SaveHoliday">
    <DataAnnotationsValidator />
    <CustomValidation @ref="customValidation" />
    <ValidationSummary/>
    <div class="mb-3">
        <label for="Holiday Date" class="form-label">Holiday Date</label>
        <div class="col-md-4">
            <InputDate @bind-Value="holiday.HolidayDate" />
        </div>
        <ValidationMessage For="@(() => holiday.HolidayDate)" />
    </div>
    <div class="mb-3">
        <label for="Holiday Name" class="form-label">Holiday Name</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="holiday.HolidayName" />
        </div>
        <ValidationMessage For="@(() => holiday.HolidayName)" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>

@code {
    protected HolidayDto holiday = new();
    private CustomValidation? customValidation;

    protected async Task SaveHoliday()
    {
        customValidation?.ClearErrors();

        var response = await Http.PostAsJsonAsync("api/holiday", holiday);

        var content = await response.Content.ReadFromJsonAsync<Dictionary<string, List<string>>>();

        if (response.StatusCode == HttpStatusCode.BadRequest && content.Any())
        {
            customValidation?.DisplayErrors(content);
        }
        else
        {
            Cancel();
        }
    }

    public void Cancel()
    {
        NavigationManager.NavigateTo("/holidaylist");
    }
}

